@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-padding-top: 56px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-landing {
  background-image: url("/images/landing-bg-light.png");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
}

.dark .bg-landing {
  background-image: url("/images/landing-bg.png");
}

.bg-footer {
  background-image: url("/images/bg-footer-light.png");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
}

.dark .bg-footer {
  background-image: url("/images/bg-footer.png");
}

.text-grey-gradient {
  background: linear-gradient(180deg, #FFF 0%, #5E6773 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.table {
  border-collapse: separate;
  border-spacing: 0 12px;
  margin-bottom: 40px;
}

.table tr th:first-child,
.table tr td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.table tr th:last-child,
.table tr td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.table td code {
  color: #9FA2AC;
  /* font-family: "Fira Code"; */
  font-size: 16px !important;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.16px;
  padding: 6px 8px;
  border-radius: 4px;
  /* background-color: #17191E; */
}

.table td a {
  font-weight: 400;
}

.bg-green-gradient {
  background: linear-gradient(225deg, #25D695 0%, #179B69 100%);
}

.dark .bg-green-gradient {
  background: linear-gradient(180deg, #25D695 0%, #046C44 100%);
}

.bg-grey-gradient {
  background: linear-gradient(271deg, rgba(94, 103, 115, 0.20) 0%, rgba(94, 103, 115, 0.02) 100%);
}

.text-green-gradient {
  background: linear-gradient(180deg, #25D695 0%, #046C44 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  background: #f3f3f3;
}

.dark .card {
  background: linear-gradient(90deg, rgba(69, 69, 69, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.16) inset;
  backdrop-filter: blur(5px);
}

.main-content {
  height: calc(100vh - 64px);
  overflow: auto;
}

.hljs-comment {
  opacity: 0.7;
}

.mdx-ul {
  list-style-type: disc;
}

.mdx-ul ul {
  list-style-type: circle;
}

.mdx-summary {
  color: '#EEE';
  font-size: 18px;
  margin-bottom: 8px;
}

.bg-code {
  background: #FCFCFC;
}

.dark .bg-code {
  background: #1d1d1d;
}

img,
svg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.markdown-alert {
  --github-alert-default-color: rgb(48, 54, 61);
  --github-alert-note-color: rgb(31, 111, 235);
  --github-alert-tip-color: rgb(35, 134, 54);
  --github-alert-important-color: rgb(137, 87, 229);
  --github-alert-warning-color: rgb(158, 106, 3);
  --github-alert-caution-color: rgb(248, 81, 73);

  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  border-left: 0.25em solid var(--github-alert-default-color);
}

.markdown-alert>:first-child {
  margin-top: 0;
}

.markdown-alert>:last-child {
  margin-bottom: 0;
}

.markdown-alert-note {
  border-left-color: var(--github-alert-note-color);
}

.markdown-alert-tip {
  border-left-color: var(--github-alert-tip-color);
}

.markdown-alert-important {
  border-left-color: var(--github-alert-important-color);
}

.markdown-alert-warning {
  border-left-color: var(--github-alert-warning-color);
}

.markdown-alert-caution {
  border-left-color: var(--github-alert-caution-color);
}

.markdown-alert-title {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.markdown-alert-title>svg {
  margin-right: 8px;
}

.markdown-alert-note .markdown-alert-title {
  color: var(--github-alert-note-color);
}

.markdown-alert-tip .markdown-alert-title {
  color: var(--github-alert-tip-color);
}

.markdown-alert-important .markdown-alert-title {
  color: var(--github-alert-important-color);
}

.markdown-alert-warning .markdown-alert-title {
  color: var(--github-alert-warning-color);
}

.markdown-alert-caution .markdown-alert-title {
  color: var(--github-alert-caution-color);
}

@keyframes box-animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes box-animate2 {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  50.1% {
    transform: scaleY(1);
    transform-origin: top;
  }

  100% {
    transform: scaleY(0);
    transform-origin: top;
  }
}

.bg-gradient-help-card {
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  position: relative;
  background-color: #F9F9F9;
  background-image: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, rgba(69, 69, 69, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.16) inset;
    backdrop-filter: blur(5px);
    background-color: transparent;
  }
}

.dark .bg-gradient-help-card {
  background-color: #0e0f10;
}

.bg-gradient-help-card span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  z-index: 0;
}

.bg-gradient-help-card > span:nth-child(1) {
  transform: rotate(0deg);
}

.bg-gradient-help-card > span:nth-child(3) {
  transform: rotate(180deg);
}

.bg-gradient-help-card > span:nth-child(4) {
  transform: rotate(180deg);
}

.bg-gradient-help-card:hover > .horizontal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    270deg,
    rgba(37, 214, 149, 0) 0%,
    rgba(37, 214, 149, 0.5) 48.96%,
    rgba(37, 214, 149, 0) 100%
  );
  animation: box-animate 4s linear infinite;
}

.bg-gradient-help-card:hover > .vertical::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(37, 214, 149, 0) 0%,
    rgba(37, 214, 149, 0.5) 48.96%,
    rgba(37, 214, 149, 0) 100%
  );
  animation: box-animate2 4s linear infinite;
}

.text-gradient-green {
  background: linear-gradient(180deg, #25D695 0%, #046C44 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bg-table-head {
  background: #FCFCFC;
}

.dark .bg-table-head {
  background: #0E0F10;
}

.text-table {
  color: #5E6773;
}

.dark .text-table {
  color: #9FA2AC;
}

#ask-cookbook-button {
  background-color: #fff !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.dark #ask-cookbook-button {
  background-color: #1B1D23 !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#ask-cookbook-button span {
  color: #1B1D23 !important;
}

.dark #ask-cookbook-button span {
  color: #fff !important;
}

.border-banner-border-color {
  border-color: rgba(177, 252, 3, 0.50);
}

.bg-radial-green-gradient {
  background: radial-gradient(58.52% 100% at 0% 0%, rgba(177, 252, 3, 0.47) 0%, rgba(177, 252, 3, 0.14) 100%);
}
